interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/health
  response:
    body:
      string: '{"checks": [], "message": "ready for queries and writes", "name": "influxdb",
        "status": "pass", "version": "v1.12.4"}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.12.4
    status:
      code: 200
      message: OK
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT time, primaryTest0 FROM "efd"."autogen"."lsst.sal.MTM1M3.logevent_forceActuatorBumpTestStatus"
        WHERE time >= '2024-09-09T13:28:04.000Z' AND time <= '2024-09-16T13:28:04.000Z'
        AND primaryTest0 = 3
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results": [{"statement_id": 0, "series": [{"name": "lsst.sal.MTM1M3.logevent_forceActuatorBumpTestStatus",
        "columns": ["time", "primaryTest0"], "values": [[1726014499271619000, 3],
        [1726099267057135000, 3], [1726193444996032000, 3], [1726268196966140000,
        3], [1726282298121301000, 3], [1726322579371724000, 3], [1726360589961373000,
        3], [1726411445031722000, 3], [1726452467128918000, 3], [1726483181294921000,
        3]]}]}]}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.12.4
    status:
      code: 200
      message: OK
[...]
