interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/health
  response:
    body:
      string: '{"checks": [], "message": "ready for queries and writes", "name": "influxdb",
        "status": "pass", "version": "v1.12.4"}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.12.4
    status:
      code: 200
      message: OK
- request:
    body:
      chunked: 'false'
      db: efd
      epoch: ns
      q: SELECT time, primaryTest147 FROM "efd"."autogen"."lsst.sal.MTM1M3.logevent_forceActuatorBumpTestStatus"
        WHERE time >= '2024-09-09T13:28:04.000Z' AND time <= '2024-09-16T13:28:04.000Z'
        AND primaryTest147 = 3
    headers: {}
    method: POST
    uri: https://usdf-rsp.slac.stanford.edu/influxdb-enterprise-data/query
  response:
    body:
      string: '{"results": [{"statement_id": 0, "series": [{"name": "lsst.sal.MTM1M3.logevent_forceActuatorBumpTestStatus",
        "columns": ["time", "primaryTest147"], "values": [[1726018435185314000, 3],
        [1726103206515919000, 3], [1726197322610405000, 3], [1726272151898450000,
        3], [1726286256453767000, 3], [1726326523868278000, 3], [1726364546303391000,
        3], [1726415395883984000, 3], [1726456414546327000, 3], [1726487143359996000,
        3]]}]}]}'
    headers:
      Content-Type:
      - application/json
      X-Influxdb-Build:
      - ENT
      X-Influxdb-Version:
      - v1.12.4
    status:
      code: 200
      message: OK
[...]
